/*功能介绍页面css*/
.content{/*background: #f1f1f1;*/border-top: 2px solid #ccc;padding-bottom: 50px;}
.center{margin:0 auto;width: 960px;padding-top: 6px;overflow: auto;}
.list{position: fixed;float: left;width:170px;}
.list a{display: block;width: 150px;line-height: 40px;margin-bottom: 10px;border: 1px solid #ccc;text-align: center;
        text-decoration: none;color: #535362;border-radius: 4px;background-color: #fff;font-size:14px;}
.list a:hover{background: #2472F2;color: #fff;border: 2px solid #2472f2;}
.text{width: 750px;float: left;margin-left:135px;}
.text li{list-style: none;}
.text p{font-size: 20px;color: #1F1F2E;margin-bottom: 10px;}
.text li:first-child p{margin-top:0px;}
.text span{display: block;margin-left: 30px;/*text-indent: 2em;*/color: #535362;line-height: 30px;margin-bottom: 50px;}
.text span table{width:100%;}
.text span td:nth-child(odd){font-weight: bold;color: red; width: 40%;}